body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.main {
  width: 80vw;
  height: fit-content;
  padding: 1rem;
  border-radius: 1rem;
}

.main h1 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}

.main h1 .text {
  color: #070244;
  text-shadow: 0 0 3px rgba(255, 255, 255, .4);
}

.main h1 .arrow {
  color: #44b3bf;
  font-weight: bolder;
  text-shadow: 0 0 4px #44b3bf;
  text-shadow: 0 0 3px rgba(255, 255, 255, .4);
}

.main .about {
  margin-top: 1.5rem;
  border-radius: 1rem;
  padding: 1rem 2rem;
}

.main .about .link {
  color: #070244;
  text-decoration: underline;
  cursor: pointer;
}

.main .about .title {
  font-size: xx-large;
  text-align: center;
  text-transform: capitalize;
  color: #222;
  text-shadow: 0 0 1px #222;
}

.main .about ul {
  list-style: none;
}

.main .about h3,
.main .about ul,
.main .about b,
.main .about p {
  font-size: medium;
  padding: 1rem;
}

.main .about ul li {
  padding: 0.5rem 0;
}

.main .about ul {
  padding-top: 0.5rem;
}

.main .about ul pre {
  display: inline-block;
  font-family: monospace;
}

@media (max-width: 1150px) {
  .main {
    width: 95vw;
    margin: 0.25rem;
  }
  .main .about {
    margin-top: 1rem;
    padding: 1rem 1rem;
  }
  .main .about h3,
  .main .about ul,
  .main .about b,
  .main .about p {
    padding: .25rem;
  }
}

@media (min-width: 1600px) {
  .main {
    width: 60vw;
  }
}
